{% set title = "index" %}


{% extends "main.tpl" %} {% block content %}

{%include "components/header.html" %}

<main>
  <div class="myContainer">
    <div class="slide-wrap">
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <section class="header-banner-img">

              <img src="../../images/jpg/family-t.jfif" alt="tours-to-bukhara.jpg">
              <div class="myContainer">
                <div class="row">
                  <div class="col-md-8 offset-md-2">
                    <div class="header-banner">
                      <div class="header-banner-info">
                        <h1 class="header-banner-title">Lorem ipsum dolor sit amet </h1>
                        <h4 class="header-banner-subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Lorem
                          ipsum
                          dolor sit amet consectetur adipisicing elit. Temporibus commodi esse cupiditate, cum
                          assumenda,
                          in
                          amet
                          minima adipisci consequatur a dolores tempora architecto minus consequuntur accusamus ullam
                          cumque.
                          Officia, aliquam. <br>
                          Facere doloremquedoloribus suscipit.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>
          <div class="swiper-slide">
            <section class="header-banner-img">

              <img src="../../images/jpg/tours-to-bukhara.jpg" alt="tours-to-bukhara.jpg">
              <div class="myContainer">
                <div class="row">
                  <div class="col-md-8 offset-md-2">
                    <div class="header-banner">
                      <div class="header-banner-info">
                        <h1 class="header-banner-title">Lorem ipsum dolor sit amet </h1>
                        <h4 class="header-banner-subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Lorem
                          ipsum
                          dolor sit amet consectetur adipisicing elit. Temporibus commodi esse cupiditate, cum
                          assumenda,
                          in
                          amet
                          minima adipisci consequatur a dolores tempora architecto minus consequuntur accusamus ullam
                          cumque.
                          Officia, aliquam. <br>
                          Facere doloremquedoloribus suscipit.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>
          <div class="swiper-slide">
            <section class="header-banner-img">

              <img src="../../images/jpg/tours-to-bukhara.jpg" alt="tours-to-bukhara.jpg">
              <div class="myContainer">
                <div class="row">
                  <div class="col-md-8 offset-md-2">
                    <div class="header-banner">
                      <div class="header-banner-info">
                        <h1 class="header-banner-title">Lorem ipsum dolor sit amet </h1>
                        <h4 class="header-banner-subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Lorem
                          ipsum
                          dolor sit amet consectetur adipisicing elit. Temporibus commodi esse cupiditate, cum
                          assumenda,
                          in
                          amet
                          minima adipisci consequatur a dolores tempora architecto minus consequuntur accusamus ullam
                          cumque.
                          Officia, aliquam. <br>
                          Facere doloremquedoloribus suscipit.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

    <div class="myContainer">

      <div class="tours-wrap">
        <div class="tours">
          <div class="tours-Card-title">Tours</div>
          <a class="tours-all" href="#!">All view</a>
        </div>
        <hr class="hr">
        <div class="tours-Card-wrap">
          <div class="tours-card">
            <img src="../../images/jpg/xiva.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Xiva</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/buxoro.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Bukhara</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/samarqand.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Samarkhand</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/toshkent.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Tashkent</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>



        </div>
      </div>



    </div>
  </section>
  <section>
    <div class="myContainer">

      <div class="tours-wrap">
        <div class="tours">
          <div class="tours-Card-title">Restaurants</div>
          <a class="tours-all" href="#!">All view</a>
        </div>
        <hr class="hr">
        <div class="tours-Card-wrap">
          <div class="tours-card">
            <img src="../../images/jpg/r1.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Restaurant</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/r2.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Restaurant</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/r3.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Restaurant</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/r4.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Restaurant</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>



        </div>
      </div>



    </div>
  </section>
  <section>
    <div class="myContainer">

      <div class="tours-wrap">
        <div class="tours">
          <div class="tours-Card-title">Hotels</div>
          <a class="tours-all" href="#!">All view</a>
        </div>
        <hr class="hr">
        <div class="tours-Card-wrap">
          <div class="tours-card">
            <img src="../../images/jpg/h1.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Hotels</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/h2.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Hotels</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/h3.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Hotels</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
          <div class="tours-card">
            <img src="../../images/jpg/h4.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Hotels</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry

              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>
 
</main>


{% include "components/footer.html" %}

{%endblock %}