{% set title = "tours.html" %}


{% extends "main.tpl" %} {% block content %}

{%include "components/header.html" %}


<div>
  <div class="myContainer">
    <div class="slide-wrap">
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <section class="header-banner-img">

              <img src="../../images/jpg/tours-to-bukhara.jpg" alt="tours-to-bukhara.jpg">
              <div class="myContainer">
                <div class="row">
                  <div class="col-md-8 offset-md-2">
                    <div class="header-banner">
                      <div class="header-banner-info">
                        <h1 class="header-banner-title">Lorem ipsum dolor sit amet </h1>
                        <h4 class="header-banner-subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Lorem
                          ipsum
                          dolor sit amet consectetur adipisicing elit. Temporibus commodi esse cupiditate, cum
                          assumenda,
                          in
                          amet
                          minima adipisci consequatur a dolores tempora architecto minus consequuntur accusamus ullam
                          cumque.
                          Officia, aliquam. <br>
                          Facere doloremquedoloribus suscipit.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>
          <div class="swiper-slide">
            <section class="header-banner-img">

              <img src="../../images/jpg/family-t.jfif" alt="tours-to-bukhara.jpg">
              <div class="myContainer">
                <div class="row">
                  <div class="col-md-8 offset-md-2">
                    <div class="header-banner">
                      <div class="header-banner-info">
                        <h1 class="header-banner-title">Lorem ipsum dolor sit amet </h1>
                        <h4 class="header-banner-subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Lorem
                          ipsum
                          dolor sit amet consectetur adipisicing elit. Temporibus commodi esse cupiditate, cum
                          assumenda,
                          in
                          amet
                          minima adipisci consequatur a dolores tempora architecto minus consequuntur accusamus ullam
                          cumque.
                          Officia, aliquam. <br>
                          Facere doloremquedoloribus suscipit.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>
          <div class="swiper-slide">
            <section class="header-banner-img">

              <img src="../../images/jpg/tours-to-bukhara.jpg" alt="tours-to-bukhara.jpg">
              <div class="myContainer">
                <div class="row">
                  <div class="col-md-8 offset-md-2">
                    <div class="header-banner">
                      <div class="header-banner-info">
                        <h1 class="header-banner-title">Lorem ipsum dolor sit amet </h1>
                        <h4 class="header-banner-subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Lorem
                          ipsum
                          dolor sit amet consectetur adipisicing elit. Temporibus commodi esse cupiditate, cum
                          assumenda,
                          in
                          amet
                          minima adipisci consequatur a dolores tempora architecto minus consequuntur accusamus ullam
                          cumque.
                          Officia, aliquam. <br>
                          Facere doloremquedoloribus suscipit.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <section style="margin: 100px 0">
    <div class="myContainer">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="panel">
            <div class="ring">
              <div class="card"></div>
              <div class="border">
                <img src="../../images/jpg/fransiya.jfif" alt="">
                <p class="title">France</p>
                <div class="slide">
                  <h2>France</h2>
                  <h6 class="para">Latest Deals from Heathrow</h6>
                  <div class="line">
                    <h6 class="para">OUT</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£849</h6>
                  </div>
                  <div class="line">
                    <h6 class="para">RTN</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£659</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel">
            <div class="ring">
              <div class="card"></div>
              <div class="border">
                <img src="../../images/jpg/korea.jfif" alt="">
                <p class="title">Korea</p>
                <div class="slide">
                  <h2>Korea</h2>
                  <h6 class="para">Latest Deals from Heathrow</h6>
                  <div class="line">
                    <h6 class="para">OUT</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£849</h6>
                  </div>
                  <div class="line">
                    <h6 class="para">RTN</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£659</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel">
            <div class="ring">
              <div class="card"> </div>
              <div class="border">
                <img src="../../images/jpg/malaysia.jfif" alt="">
                <p class="title">Malaysia</p>
                <div class="slide">
                  <h2>Malaysia</h2>
                  <h6 class="para">Latest Deals from Heathrow</h6>
                  <div class="line">
                    <h6 class="para">OUT</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£849</h6>
                  </div>
                  <div class="line">
                    <h6 class="para">RTN</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£659</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel">
            <div class="ring">
              <div class="card"></div>
              <div class="border">
                <img src="../../images/jpg/turkey.jfif" alt="">
                <p class="title">Turkey</p>
                <div class="slide">
                  <h2>Turkey</h2>
                  <h6 class="para">Latest Deals from Heathrow</h6>
                  <div class="line">
                    <h6 class="para">OUT</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£999</h6>
                  </div>
                  <div class="line">
                    <h6 class="para">RTN</h6> <i class="fa fa-plane" aria-hidden="true"></i>
                    <h6 class="para">£745</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
  <div class="myContainer">
    <section>
      <h1>Title</h1>
      <hr class="hr">
      <div class="tours-Card-wrap">
        <div class="tours-card">
          <img src="../../images/jpg/tours-to-bukhara.jpg" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Tours</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry

            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
        <div class="tours-card">
          <img src="../../images/jpg/h2.jfif" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Hotels</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry

            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
        <div class="tours-card">
          <img src="../../images/jpg/r3.jfif" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Restuarans</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry

            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
        <div class="tours-card">
          <img src="../../images/jpg/self-t.jfif" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Transports</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry

            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>



      </div>
    </section>
  </div>

</div>

{% include "components/footer.html" %}

{%endblock %}