<footer class="footer">

  <div class="myContainer">
    <div class="footer-logo"><a class="logo" href="#!"><img src="../../../images/png/logo.png" alt="logo.png"></a>
    </div>
    <div class="row">

      <div class="col-md-3">
        <div class="footer-info">
          <div> <a href="#!">About</a> </div>
          <hr>
          <div> <a href="#!">Contact</a> </div>
          <hr>
          <div> <a href="#!">News</a> </div>
          <hr>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-info">
          <div>For partners and organizers</div>
          <hr>
          <div> <a href="#!">Some info</a> </div>
          <hr>
          <div> <a href="#!">Some info</a> </div>
          <hr>
        </div>

      </div>
      <div class="col-md-5">
        <div class="footer-info">
          <div class="social-title">Follow us on social media</div>
          <hr>
          <div class="social-link-wrap">
            <a href="#!"><img src="../../images/png/facebook.png" alt=""></a>
            <a href="#!"><img src="../../images/png/telegram.png" alt=""></a>
            <a href="#!"><img src="../../images/png/instagram.png" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <hr class="hr">
        <div class="footer-end">
          <p>© 2018–2020 Asia Tour LLC. Electronic media registration certificate No. 1245</p>
          <p>The rights to text and other materials posted on the site are protected by law. When quoting, a direct
            link to AydaTuda.uz is required</p>
          <p>The site works in a test mode.</p>
        </div>
      </div>
    </div>
  </div>
</footer>