<header class="header">
  <div class="myContainer">
    <div class="row">
      <div class="col-md-12">
        <div class="menu-wrap">
          <a class="logo" href="#!">LOGO</a>
          <nav>
            <ul class="menu">
              <li class="menu-item"><a class="menu-link" href="#!">About us</a></li>
              <li class="menu-item"><a class="menu-link" href="#!">Tours</a></li>
              <li class="menu-item"><a class="menu-link" href="#!">Restaurants</a></li>
              <li class="menu-item"><a class="menu-link" href="#!">Hotels</a></li>
              <li class="menu-item"><a class="menu-link" href="#!">Transports</a></li>
              <li class="menu-item"><a class="menu-link" href="#!">Contact</a></li>
              <li class="menu-item"><a class="menu-link" href="#!">News</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>
</header>